# =====================
# Node / Frontend
# =====================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =====================
# Environment variables
# =====================
.env

# =====================
# Build output
# =====================
dist/
build/
vcpkg/

# =====================
# C / CMake / MSVC
# =====================
.vs/
*.obj
*.pdb
*.ilk
*.exe
Debug/
Release/

# =====================
# OS junk
# =====================
.DS_Store
Thumbs.db

# =====================
# Editor / IDE
# =====================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace
*.swp
*.swo